.dx-button-has-text .dx-button-content{
	padding: 7px 10px 8px;
}
body#salesviewer,
html {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, Verdana, san-serif;
  height: 100%;
}
body#salesviewer {
  overflow-y: scroll;
  min-width: 1000px;
  font-size: 16px;
}
body#salesviewer h3 {
  /*position: absolute;*/
  z-index: 9999;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #252525;
}
body#salesviewer .layout-box h3 {
  margin-top: 0;
  margin-bottom: 15px;
}
body#salesviewer h5 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
  color: #252525;
}
body#salesviewer h5.manager {
  margin-top: 0;
}
body#salesviewer .plant-description {
  font-size: 14px;
  color: gray;
}
body#salesviewer .page-content-wrapper {
  min-height: 100%;
  margin-top: -80px;
}
body#salesviewer .page-content-wrapper .page-content-push {
  height: 80px;
}
body#salesviewer .range-content {
  max-width: 1270px;
  min-width: 970px;
  margin: 0 auto;
  padding: 0 15px;
}
body#salesviewer .big-content {
  max-width: 1260px;
  min-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}
body#salesviewer .big-content.right-padding {
  padding: 0 28px 0 12px;
}
body#salesviewer .big-content .chart {
  padding-right: 14px;
}
body#salesviewer .content {
  max-width: 1200px;
  min-width: 900px;
  padding: 0 50px;
  margin: 0 auto;
}
body#salesviewer .content.right-padding {
  max-width: 1195px;
  min-width: 895px;
  padding: 0 55px 0 50px;
}
body#salesviewer .content .left-indent {
  margin-left: -36px;
}
body#salesviewer .content .left-indent#chart-channelsperformance {
  margin-left: -37px;
}
body#salesviewer .content .right-indent {
  float: right;
  margin-right: -22px;
}
body#salesviewer .content .indent {
  margin-left: 1px;
}
body#salesviewer .content .indent.params-indent {
  margin-left: 36px;
}
body#salesviewer .content .indent.line {
  border-top: 2px solid #e5e5e5;
}
body#salesviewer .content .indent.daily-sales {
  margin-left: 2px;
}
body#salesviewer .content div.indent {
  margin-left: 7px;
}
body#salesviewer .content h3.indent {
  margin-left: 6px;
}
body#salesviewer .info-link {
  border: 1px solid white;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  border-radius: 15px;
  line-height: 30px;
  margin-top: -5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body#salesviewer .info-link::selection {
  background-color: transparent;
  color: white;
}
body#salesviewer .top-menu {
  float: left;
}
body#salesviewer .top-menu .dx-menu-horizontal {
  height: 100%;
}
body#salesviewer .top-menu .dx-state-hover {
  background-color: #525362;
}
body#salesviewer .top-menu .dx-menu-item.dx-menu-item-selected {
  background-color: #da5859;
}
body#salesviewer .top-menu .top-menu-item {
  padding: 16px 15px 13px 15px;
  font-size: 16px;
  line-height: 21px;
  color: white;
}
body#salesviewer .top-menu .top-menu-item.top-menu-first {
  text-align: right;
  padding: 16px 31px 13px 15px;
}
body#salesviewer .top-menu .top-menu-item.top-menu-first:after {
  content: " ";
  display: block;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAQAAAAnOwc2AAAANElEQVQY02P4z4AJGUgQdPj/9T8y+PrfASTjiCT8FciDaocJg4UQZoKEoULIFjkBIclOAgDQ6nnDn+kafwAAAABJRU5ErkJggg==')/*../Images/down.png*/;
  background-repeat: no-repeat;
  position: absolute;
  height: 10px;
  width: 10px;
  top: 26px;
  right: 20px;
}
body#salesviewer .top-menu .top-submenu-item {
  padding: 11px 14px 9px 14px;
  font-size: 16px;
  color: black;
}
body#salesviewer .top-menu .top-submenu-item.not-last:after {
  content: " ";
  display: block;
  height: 1px;
  width: 100%;
  padding-left: 2px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background: rgba(0, 0, 0, 0.18);
  position: absolute;
  left: -1px;
  top: 50px;
}
body#salesviewer .top-menu .dx-context-menu-content-delimiter {
  display: none !important;
}
body#salesviewer .top-menu.dx-context-menu .dx-submenu > .dx-menu-items-container {
  border-top: none;
}
body#salesviewer .top-menu .dx-menu-item .dx-context-menu-container-border {
  border: none;
}
body#salesviewer .top-menu .dx-menu-item.dx-state-focused {
  background-color: transparent;
}
body#salesviewer .top-menu .dx-menu-item.dx-state-focused.dx-menu-item-expanded {
  background-color: #525362;
}
body#salesviewer .top-menu .dx-menu-item.dx-menu-item-expanded {
  background-color: #525362;
}
body#salesviewer .top-menu .dx-menu-item.dx-menu-item-expanded.dx-menu-item-selected {
  background-color: #da5859;
}
body#salesviewer #header {
  height: 60px;
  background-color: #343547;
  color: white;
}
body#salesviewer #header .logo {
  position: absolute; 
  text-decoration: none;
  color: #da5859;
  width: 500px;
  height: 14px;
  margin-top: 19px;
  display: block;
  float: left;
  /*background: url(../Images/logo.png) no-repeat; */
  font-weight: 400;
  font-family: "Arial Narrow", "Segoe UI", Helvetica, Verdana, san-serif;
  font-size: 18px;
}

body#salesviewer .top-menu .top-menu-item {
  font-family: "Arial Narrow", "Segoe UI", Helvetica, Verdana, san-serif;
	
}

body#salesviewer #header .logo span {
  color: #ffffff;
	
}


body#salesviewer #header .content {
  height: 100%;
}
body#salesviewer #header .content .menu {
  float: right;
  height: 100%;
}
body#salesviewer #header .content .menu div#openPopupButton {
  cursor: pointer;
  height: 100%;
  margin: 0;
  padding: 0;
  float: left;
}
body#salesviewer #header .content .menu div#openPopupButton:hover {
  background-color: #525362;
}
body#salesviewer #header .content .menu div#openPopupButton a {
  padding: 19px 20px 14px 20px;
  display: block;
}
body#salesviewer .page .left-arrow,
body#salesviewer .page .right-arrow {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 35px;
  cursor: pointer;
  -moz-background-size: 24px 24px;
  -o-background-size: 24px 24px;
  -webkit-background-size: 24px 24px;
  background-size: 24px 24px;
  background-repeat: no-repeat;
}
body#salesviewer .page .left-arrow.disabled,
body#salesviewer .page .right-arrow.disabled {
  opacity: 0.25;
  cursor: default;
}
body#salesviewer .page .left-arrow {
  background-image: url(../Images/prev.png);
  left: -5px;
}
body#salesviewer .page .right-arrow {
  background-image: url(../Images/next.png);
  right: -7px;
}
body#salesviewer .page .layout-box {
  padding: 30px 0 20px 0;
}
body#salesviewer .page #grid.grid-container {
  height: 100%;
  border-bottom: 1px solid #d2d2d2;
}
body#salesviewer .page #grid.grid-container .dx-datagrid-search-panel {
  width: 300px !important;
}
body#salesviewer .page #grid.grid-container .dx-datagrid-headers.dx-datagrid-nowrap {
  border-top: none;
}
body#salesviewer #footer {
  color: white;
  font-size: 12px;
  height: 80px;
  background-color: #343547;
}
body#salesviewer #footer .wrapper {
  padding: 20px 0;
}
body#salesviewer #footer .wrapper .text {
  display: inline-block;
}
body#salesviewer #footer .wrapper .text h2 {
  color: #da5859;
  font-weight: 400;
  font-family: "Arial Narrow", "Segoe UI", Helvetica, Verdana, san-serif;
  margin: 0;
  font-size: 16px;
}
body#salesviewer #footer .wrapper .text p {
  margin: 0 0 0 2px;
}
body#salesviewer #footer .wrapper .text p a {
  color: white;
}
body#salesviewer #footer .wrapper .dx-logo {
  float: right;
  background: url(../Images/vtblogo.png) no-repeat;
  margin-top: 6px;
  width: 85px;
  height: 30px;
  display: block;
}
body#salesviewer .dx-menu-item.dx-menu-item-selected {
  background-color: rgba(218, 88, 89, 0.15);
}
body#salesviewer .dx-menu-item.dx-menu-item-selected.dx-state-focused {
  background-color: rgba(218, 88, 89, 0.8);
  color: white;
}
body#salesviewer .dx-menu-item.dx-state-focused {
  background-color: #da5859;
}
body#salesviewer .dx-menu-item.dx-state-focused:not(.dx-menu-item-expanded) .dx-icon {
  color: white;
}
body#salesviewer .dx-menu-item.dx-state-focused.dx-menu-item-expanded.dx-menu-item-has-submenu {
  background-color: white;
}
body#salesviewer div#grid {
  height: 100%;
  width: 100%;
}
body#salesviewer div#grid .dx-datagrid .dx-datagrid-filter-row .dx-menu-item.dx-state-focused.dx-menu-item-expanded:after {
  border: none;
}
body#salesviewer div#grid .dx-datagrid .dx-datagrid-filter-row .dx-menu-item.dx-state-focused:after {
  border: 2px solid #da5859;
}
body#salesviewer div#grid .dx-datagrid .dx-texteditor.dx-state-hover,
body#salesviewer div#grid .dx-datagrid .dx-texteditor.dx-state-focused {
  border-color: #da5859;
}
body#salesviewer div#grid .dx-datagrid .dx-datagrid-columns-separator {
  background-color: rgba(218, 88, 89, 0.5);
}
body#salesviewer div#grid .dx-datagrid .dx-page-size,
body#salesviewer div#grid .dx-datagrid .dx-texteditor-input {
  background-color: white;
}
body#salesviewer div#grid .dx-datagrid .dx-pager .dx-pages .dx-selection {
  color: white;
  background-color: #da5859;
}
body#salesviewer div#grid .dx-datagrid .dx-pager .dx-page-sizes .dx-selection {
  color: white;
  background-color: #da5859;
}
body#salesviewer div#grid .dx-datagrid .dx-datagrid-search-text {
  background-color: #da5859;
}
body#salesviewer div#grid .dx-datagrid .dx-datagrid-rowsview .dx-group-row {
  color: gray;
}
body#salesviewer div#grid .dx-datagrid .dx-datagrid-rowsview .dx-group-row > td {
  padding: 10px 7px;
}
body#salesviewer div#grid .dx-datagrid .dx-datagrid-rowsview .dx-data-row {
  color: #252525;
}
body#salesviewer div#grid .dx-datagrid .dx-datagrid-rowsview .dx-data-row > td {
  padding: 10px 7px;
}
body#salesviewer div#grid .dx-datagrid .dx-datagrid-rowsview .dx-data-row.dx-selection {
  border-bottom-color: #da5859;
  color: white;
  background-color: #da5859;
}
body#salesviewer div#grid .dx-datagrid .dx-datagrid-rowsview .dx-data-row.dx-selection td {
  color: white;
  background-color: #da5859;
  border-bottom: none;
  border-top: none;
}
body#salesviewer div#grid .dx-datagrid .dx-datagrid-rowsview .dx-data-row.dx-selection:hover {
  background-color: #da5859;
  border-bottom-color: #da5859;
}
body#salesviewer div#grid .dx-datagrid .dx-datagrid-focus-overlay {
  border: 2px solid #da5859;
}
body#salesviewer div#grid .dx-datagrid .dx-datagrid-headers {
  color: gray;
}
body#salesviewer div#grid .dx-datagrid .dx-datagrid-headers.dx-datagrid-nowrap {
  border-top: 1px solid #d2d2d2;
}
body#salesviewer div#grid .dx-datagrid .dx-datagrid-headers .dx-row {
  color: gray;
}
body#salesviewer div#grid.products {
  width: 100%;
}
body#salesviewer .products-pie-container {
  width: 78%;
  padding-right: 5px;
  float: right;
  height: 100%;
  position: relative;
}
body#salesviewer .products-pie-container .products-pie {
  width: 30%;
  max-width: 30%;
  float: left;
}
body#salesviewer .products-pie-container .products-pie:nth-child(1) {
  margin: 0 auto;
  position: relative;
  height: 100%;
  max-width: 240px;
}
body#salesviewer .products-pie-container .products-pie:nth-child(2) {
  position: absolute;
  left: 50%;
  margin-left: -15%;
}
body#salesviewer .products-pie-container .products-pie:nth-child(3) {
  float: right;
  max-width: 240px;
}
body#salesviewer .hb-1 {
 
  margin-bottom: 10px;
}
body#salesviewer .hb-2 {
  position: relative;
  overflow: hidden;
  height: 90px;
  width: 100%;
  margin: 10px 0 0 0;
  padding: 0 0 30px 0;
}
body#salesviewer .hb-2 #rangeSelector {
  height: 100%;
}
body#salesviewer .hb-3 {
  height: 283px;
}
body#salesviewer .hb-4 {
  height: 310px;
  padding-top: 10px;
  padding-bottom: 20px;
}
body#salesviewer .hb-5 {
  height: 275px;
  padding-top: 10px;
  padding-bottom: 20px;
}
body#salesviewer .hb-a {
  height: auto;
}
body#salesviewer .lb-1 {
  width: 56%;
  height: 100%;
  float: left;
}
body#salesviewer .lb-1 div#productsMap {
  height: 100%;
}
body#salesviewer .lb-2 {
  float: left;
  width: 40%;
  margin-left: 4%;
  height: 100%;
}
body#salesviewer .lb-2 div#productsChart {
  height: 100%;
}
body#salesviewer .lb-3 {
  float: left;
  height: 100%;
  width: 18%;
}
body#salesviewer .lb-4 {
  float: left;
  height: 100%;
  width: 29%;
  max-width: 310px;
  padding: 2% 0;
  position: relative;
}
body#salesviewer .lb-4 #pie-sectors {
  height: 100%;
  position: relative;
}
body#salesviewer .lb-4 #pie-regions {
  height: 100%;
  position: relative;
}
body#salesviewer .lb-4 #pie-channels {
  height: 100%;
  position: relative;
}
body#salesviewer .lb-4 #pie-products {
  height: 100%;
  position: relative;
}
body#salesviewer .lb-4 .doughnut-content {
  position: absolute;
  text-align: center;
  color: gray;
  width: 40%;
  height: 20%;
  top: 34%;
  left: 30%;
  font-size: 14px;
}
body#salesviewer .lb-4 .doughnut-content.dashboard-bottom {
  display: table;
  top: 50%;
  margin-top: -30px;
  height: 60px;
}
body#salesviewer .lb-4 .doughnut-content.dashboard-bottom.dashboard-bottom-products {
  top: 39%;
}
body#salesviewer .lb-4 .doughnut-content.dashboard-bottom .performance-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
body#salesviewer .lb-5 {
  height: 100%;
  width: 82%;
  float: left;
  position: relative;
}
body#salesviewer .lb-6 {
  height: 100%;
  padding-top: 1%;
  width: 71%;
  float: right;
  position: relative;
}
body#salesviewer .lb-6 .year-container {
  padding-left: 38px;
  padding-top: 5px;
}
body#salesviewer .lb-6 .year-container .year {
  height: 40px;
  font-size: 28px;
  color: #252525;
  font-weight: 200;
}
body#salesviewer .lb-6 .chart {
  height: 190px;
  padding-top: 10px;
}
body#salesviewer .lb-6 #chart-channelsperformance {
  height: 250px;
  padding-top: 10px;
}
body#salesviewer .lb-7 {
  padding-top: 3px;
  float: left;
  width: 48%;
}
body#salesviewer .lb-7:first-child {
  padding-right: 2%;
}
body#salesviewer .lb-7:last-child {
  padding-left: 2%;
}
body#salesviewer .lb-7 .parameters {
  float: left;
  font-size: 14px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 1px;
  color: gray;
}
body#salesviewer .lb-7 .parameters .parameter {
  color: #252525;
}
body#salesviewer .lb-7 #chart-sectorsunits {
  clear: both;
  height: 215px;
  position: relative;
  top: -15px;
}
body#salesviewer .lb-7 #chart-sectorssales {
  clear: both;
  height: 215px;
  position: relative;
  top: -15px;
}
body#salesviewer .lb-7 #chart-productsunits {
  clear: both;
  height: 215px;
  position: relative;
  top: -15px;
}
body#salesviewer .lb-7 #chart-productssales {
  clear: both;
  height: 215px;
  position: relative;
  top: -15px;
}
body#salesviewer .performance-title {
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, Verdana, san-serif;
  font-weight: 400;
  font-size: 14px;
  color: gray;
  display: inline-block;
}
body#salesviewer .performance-title.criteria {
  padding-bottom: 2px;
}
body#salesviewer .switcher {
  float: right;
  position: relative;
  margin-right: 20px;
  color: gray;
  font-size: 14px;
  padding-top: 2px;
  line-height: 20px;
  z-index: 1;
}
body#salesviewer .switcher .date {
  display: inline-block;
  width: 90px;
  text-align: center;
}
body#salesviewer .switcher.sector {
  padding-top: 13px;
  margin-right: 30px;
}
body#salesviewer .switcher.sector.month .date {
  width: 70px;
}
body#salesviewer .switcher .switcher-prev {
  left: -25px;
  background: url(../Images/switcher-prev.png) center no-repeat;
  cursor: pointer;
  width: 15px;
  height: 20px;
  position: absolute;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body#salesviewer .switcher .switcher-next {
  right: -25px;
  background: url(../Images/switcher-next.png) center no-repeat;
  cursor: pointer;
  width: 15px;
  height: 20px;
  position: absolute;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body#salesviewer .switcher .disabled {
  opacity: 0.25;
  cursor: default;
}
body#salesviewer .nopadding {
  padding: 0;
}
body#salesviewer .vars {
  padding-top: 40px;
  width: 215px;
  font-size: 14px;
}
body#salesviewer .vars .row {
  padding: 0 7px;
  height: 32px;
}
body#salesviewer .vars .row.total {
  padding-top: 13px;
  border-top: 2px solid #e5e5e5;
}
body#salesviewer .vars .row div {
  float: left;
  width: 50%;
  text-align: right;
  color: #252525;
}
body#salesviewer .vars .row .name {
  color: gray;
  float: left;
  text-align: left;
}
body#salesviewer .legended-header {
  height: 40px;
}
body#salesviewer .legended-header h3 {
  float: left;
}
body#salesviewer .legended-header #legend {
  float: right;
  position: relative;
  padding-top: 7px;
  text-align: right;
}
body#salesviewer .legended-header #legend div {
  display: inline-block;
}
body#salesviewer .legended-header #legend .legend-item {
  padding-left: 20px;
}
body#salesviewer .legended-header #legend .legend-item .color {
  height: 10px;
  width: 10px;
  margin-right: 5px;
  padding: 0;
}
body#salesviewer .legended-header #legend .legend-item .field {
  color: gray;
  font-size: 14px;
  line-height: 18px;
}
body#salesviewer #popup a {
  text-decoration: none;
}
body#salesviewer #popup .popupButtons {
  cursor: pointer;
  background-color: #da5859;
  color: white;
  padding: 10px 40px;
  float: right;
  margin-left: 10px;
}
body#salesviewer #popup #closePopupButton {
  cursor: pointer;
  background-color: #da5859;
  color: white;
  padding: 10px 40px;
  float: right;
  margin-left: 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body#salesviewer #popup #downloadPopupButton {
  cursor: pointer;
  background-color: #da5859;
  color: white;
  padding: 10px 40px;
  float: right;
  margin-left: 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body#salesviewer #popup .select-text {
  color: #da5859;
}
body#salesviewer #popup .dx-overlay-content.dx-state-focused {
  outline: 0;
}
body#salesviewer #popup .dx-overlay-content .dx-popup-content {
  padding: 20px;
}
body#salesviewer #popup .dx-overlay-content .dx-popup-content .popup-content {
  padding: 20px;
}
body#salesviewer #popup .dx-overlay-content .dx-popup-content .popup-content .popup-title {
  margin: 0 0 30px 0;
  width: 191px;
  height: 15px;
  background: url(../Images/popup-title.png);
}
body#salesviewer #popup .dx-overlay-content .dx-popup-content .popup-content .popup-text p {
  margin: 10px 0;
  color: #484747;
}
body#salesviewer #popup .dx-overlay-content .dx-popup-content .popup-content .popup-text p a {
  color: #484747;
}
body#salesviewer #popup .dx-overlay-wrapper.dx-overlay-shader {
  background-color: rgba(254, 254, 254, 0.75);
}
body#salesviewer #popup .dx-popup-wrapper .dx-overlay-content {
  border-radius: 0;
  box-shadow: 0 32px 64px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
body#salesviewer .dx-overlay-wrapper .top-menu .dx-submenu .dx-item-content:hover {
  background-color: #fef4e7;
}
.dx-datagrid-drag-header {
  border-color: rgba(218, 88, 89, 0.5);
}
@media (max-width: 1100px) {
  body#salesviewer .legended-header {
    height: 50px;
  }
  body#salesviewer .legended-header #legend {
    max-width: 575px;
  }
}
